/* Will be compiled down to a single stylesheet with your sass files */
li.highlight {
	background-color: yellow;
}

li {
	list-style-type: none;
 	list-style-image: none;
}
.fruitItem {
	padding: 5px;
}